@import 'tailwindcss';

:root {
	--background: #d9d9d9;
	--foreground: #171717;
	--accent-background: #ffffff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-accent-background: var(--accent-background);
}

body {
	background: var(--background);
	color: var(--foreground);
}
